{% extends 'layout.html' %}

{% block head %}
<title>Halaman About Bootstrap</title>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://localhost:5000">Home</a>
                <a class="nav-link" href="/about">About</a>
              </div>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
<div class="container">
    <h2>5220411416</h2>
    <span>Muhammad Ali Pratama Putra</span>
</div>
{% endblock %}
